body, html{
    background-image: linear-gradient(to bottom right, rgb(223, 186, 234), rgb(74, 17, 88));
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}
pre{
    text-align: center;
    font-size: 50px;
}