body, html {
    background-image: linear-gradient(to bottom right, rgb(223, 186, 234), rgb(74, 17, 88));
    min-width: 100vw;
    min-height: 100vh; 
}

* {
    margin: 0; 
    padding: 0; 
}

h1{
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    letter-spacing: 50px;
    font-family: "Courier New"; 
    font-weight: bold;

}

#taskList{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    padding-bottom: 100px;

}

li{
    font-size: 25px;
    font-family: "Courier New"; 
    font-weight: bold;
    list-style-type: none;
    margin: 1%;
}

ul{
    overflow-wrap: break-word;
}

#inputBar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 450px;
    height: 40px;
    font-size: 20px;
    font-family: "Courier New"; 
    font-weight: 900;
    color: blue;
    border-radius: 20px;
    padding-left: 10px;
    box-shadow: 10px 10px 10px black;
    border-color: black;
   
}

#taskList{
    display: flex;
    flex-direction: column;
}

label{
    padding-left: 10px;
}

#ToDoContainer{
    margin-top: 250px; /* This creates spacing so tasks never overlap the sticky title */
    margin-left: 100px;
    margin-right: 100px;
}

